<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Danh sách sản phẩm</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Sale App Demo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('product_list') }}">Sản phẩm</a>
                </li>
                {% for c in categories%}
                <li class="nav-item">
                    <a class="nav-link" href="/products?category_id={{c.id}}">{{c.name}}</a>
                    {% endfor %}
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="row container">
    {% for d in products%}
    <div class="col-sm">
        <ul>
            <li><img src="{{ d.image}}" alt="{{d.name}}" width="200px"></li>
            <li>Tên sản phẩm: {{d.name}}</li>
            <li>Mô tả: {{d.description}}</li>
            <li>Giá tiền: {{"{:,.1f}".format(d.price)}} VND</li>
        </ul>
    </div>
    {% endfor %}
</div>
</body>
</html>